<!DOCTYPE html>
<html>
<head>
  <title>PotmumMailer</title>
  <%= stylesheet_link_tag    "potmum_mailer/application", media: "all" %>
  <%= javascript_include_tag "potmum_mailer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
